body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .logo h1 {
    margin: 0;
    font-size: 2.5em;
    color: #b70000;
}

header .logo p {
    margin: 0;
    font-size: 1.2em;
    color: #666;
}

h2 {
    color: #b70000;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form .form-group {
    margin-bottom: 15px;
}

form label {
    font-size: 1.1em;
    margin-right: 10px;
}

form input[type="text"],
form input[type="date"],
form input[type="time"] {
    padding: 5px;
    font-size: 1.1em;
}

button {
    background-color: #b70000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-end;
}

button:hover {
    background-color: #930000;
}
